<div class="card-trip margin">
  <%= cl_image_tag @movie.photo.key, height: 300, crop: :fill %>
  <div class="card-trip-infos">
    <div>
      <h2><%= @movie.title %></h2>
      <p>Genre: <%= @movie.genre %></p>
      <br>
      <p><%= @movie.description %></p>
      <br>
      <p>Director: <%= @movie.director %></p>
      <br>
      <p>Rating: <%= @movie.rating %></p>
      <br>
      <p>Address: <%= @movie.address %></p>
    </div>
    <h2 class="card-trip-pricing">£<%= @movie.price %></h2>
    <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
  </div>
</div>

<div class="container m-3">
  <%= link_to "Delete #{@movie.title}",
              movie_path(@movie),
              method: :delete,
              data: { confirm: "Are you sure?" }, class: "btn-flat s-blue" %>

  <%= link_to "Edit #{@movie.title}", edit_movie_path, class: "btn-flat s-blue" %>

  <%= link_to "Movies", movies_path, class: "btn-flat s-blue" %>
</div>
